body {
}
a {
    text-decoration: none;
    color: #222;
    font-family: 'Julius Sans One', Arial, sans-serif;
}
#nav-wrapper {
    position: fixed;
        z-index: 4;
    width: 60vw;
    min-width: 400px;
    height: 100vh;
    background-color: white;
    filter: drop-shadow(-5px 0px 10px #222);
    -webkit-clip-path: polygon(0 0, 80% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0 0, 80% 0%, 50% 100%, 0% 100%);
    opacity: 0;
    transition: 0.5s ease;
}
#nav-button {
    position: fixed;
        left: 10px;
        top: 10px;
    width: 50px;
    height: 50px;
    z-index: 5;
    cursor: pointer;
}
#nav-button ul {
    list-style: none;
    position: relative;
    top: -50px;
    padding: 0;
    margin: 0;
    font-size: .5em;
    transition: all 0.5s ease;
}
#nav-mask {
    position: relative;
    z-index: 6;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}
#title {
    position: fixed;
        bottom: -10px;
        left: 30px;
        z-index: 4;
    text-align: left;
    width: auto;
}
h1 {
    position: relative;
        z-index: 5;
    font-family: 'Cormorant Garamond', 'Times New Roman', serif;
    padding: 0;
    margin: 0;
    font-size: 10em;
    line-height: .75;
}
/*#marquee-cover {
    position: absolute;
        z-index: 3;
        bottom: 10px;
    background-color: white;
    height: 10vh;
    left: 50%;
    transform: translate(-49%, 0);
    width: 95%;
}*/
/*#page-cover {
    position: fixed;
        z-index: 2;
    height: 90vh;
    background-color: white;
    opacity: .7;
}*/
#page-wrapper {
    position: absolute;
        z-index: 0;
    width: auto;
    height: 90vh;
    white-space: nowrap;
}
.page {
    height: 100%;
    display: inline-block;
}
.page img {
    height: 100%;
    width: auto;
}
#scrolling {
    position: fixed;
        z-index: 1;
        top: 90vh;
    height: 10%;
    font-family: 'Lustria', 'Times New Roman', serif;
    font-style: italic;
    width: auto;    /* Necessary to populate marquee! */
}
#tmp-page {
    display: none;  /* Purely for js reference */
}